*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
auth.json

# Dependency directories
/vendor
/node_modules

# Storage and cache
/public/storage
/storage/*.key
/storage/pail
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/testing/.gitignore

/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore

# IDE / editor files
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
.phpactor.json
.phpunit.result.cache

# Local database files
/database/*.sqlite

# Local deployment metadata
/.railway

Homestead.json
Homestead.yaml
